@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-base text-xl;
    }

    .section {
        @apply py-[30px] lg:py-[70px];
    }

    /***** Services section *****/
    .service-title span {
        @apply w-fit block rounded-md p-1 text-[26px] lg:text-3xl font-medium;
    }

    /***** End Services section *****/

    /***** Contact section *****/
    label {
        @apply cursor-pointer;
    }

    .radio-label {
        @apply text-base lg:text-lg;
    }

    .radio-button {
        @apply relative mr-6;
        cursor: pointer;
    }

    .radio-button::before,
    .radio-button::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
        height: 28px;
        background: white;
        border-radius: 50%;
    }

    .radio-button::after {
        width: 16px;
        height: 16px;
        background: #B9FF66;
        border: none;
        display: none;
    }

    .radio-button:checked::before {
        border: 1px solid black;
    }

    .radio-button:checked::after {
        display: block;
    }

    .input-wrapper:not(:last-child):not(:first-child) {
        @apply mb-5 lg:mb-[25px];
    }

    .block-label {
        @apply block text-sm lg:text-base text-black mb-[10px] lg:mb-[5px];
    }

    .field {
        @apply bg-white text-dark border border-black rounded-[14px] px-5 lg:px-5 py-3 w-full outline-none text-base lg:text-lg;
    }

    /***** End Contact section *****/

    /***** Footer section *****/ 
    .social-link {
        @apply w-[30px] h-[30px] bg-white rounded-full flex justify-center items-center;
    }

    .contact-info-list li {
        @apply text-base lg:text-lg text-white;
    }
    /***** End Footer section *****/
    


}

@layer components {
    .slide-top {
        -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes slide-top {
        0% {
            -webkit-transform: translateY(14px);
            transform: translateY(14px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes slide-top {
        0% {
            -webkit-transform: translateY(14px);
            transform: translateY(14px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }


    /* Partners section */
    .slide-left {
        animation: slide-left 20s linear infinite;
    }

    @keyframes slide-left {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }

}