@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-base text-xl;
    }

    .container {
        @apply max-w-full;
    }

    .section {
        @apply py-[70px];
    }
}

@layer components {
    .slide-top {
        -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @-webkit-keyframes slide-top {
        0% {
            -webkit-transform: translateY(14px);
            transform: translateY(14px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes slide-top {
        0% {
            -webkit-transform: translateY(14px);
            transform: translateY(14px);
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }


    /* Partners section */
    .slide-left {
        animation: slide-left 20s linear infinite;
    }

    @keyframes slide-left {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        100% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }

}